*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    margin-top: 5%;
    align-content: center;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: minmax(100px,auto) repeat(5 ,80px);
    

}
.calculator-grid > button{
    border: 1px solid white;
    background-color: rgb(187, 247, 208,0.5);
}
.calculator-grid > button:hover{
    background-color: rgb(187, 247, 208,0.9);
}
.span-two{
    grid-column: span 2;
}
.display{
    min-height: 120px;
    word-wrap: break-word;
    word-break: break-all;
    grid-column: 1 / -1;
    

}
button:hover {
    font-size: xx-large;
}
.prev-operand{
    color: rgb(255, 255, 255,0.75);
}
.curr-operand{
    color: white;
}
